@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap');

:root {
  --font-family: 'Space Grotesk', sans-serif;
  --color-bg: #000;
  --color-text: #fff;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
